.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
node_modules/
dist/
out/
**/src/generated
packages/extension/syntaxes/
packages/extension/icon.png
packages/extension/LICENSE
*.tsbuildinfo
*.vsix
